# Ports hôte
POSTGRES_PORT=5433
BACKEND_PORT=8001
FRONTEND_PORT=3000

# PostgreSQL
POSTGRES_USER=cabinet
POSTGRES_PASSWORD=cabinet_secret
POSTGRES_DB=cabinet_db

# URLs
NEXT_PUBLIC_API_URL=http://localhost:8001/api/v1
BACKEND_INTERNAL_URL=http://backend:8000

# Métier
DOMAINE=cabinet-demo.fr
UTILISATEUR="M. Loiseau"
