PROJECT_NAME="La Boîte Unique"
ENVIRONMENT=development

# Base de données PostgreSQL
POSTGRES_SERVER=db
POSTGRES_PORT=5432
POSTGRES_USER=cabinet
POSTGRES_PASSWORD=cabinet_secret
POSTGRES_DB=cabinet_db
# DATABASE_URL=postgresql://cabinet:cabinet_secret@db:5432/cabinet_db

# Métier
DOMAINE=cabinet-demo.fr
UTILISATEUR="M. Loiseau"

# CORS
CORS_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000","http://localhost:8001"]
